# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# Environment / secrets
.env
*.env

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Python packaging (if you ever build)
build/
dist/
*.egg-info/
